<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="text-center">
  <h2>Double click the input in the component below</h2>
  <pfng-block-copy
    style="margin: 0 auto;width:200px;display:block;"
    [buttonAriaLabel]="'Copy to clipboard'"
    [expandToggleAriaLabel]="'Toggle expand button for copy clipboard'"
    [label]="'Copy text to clipboard'"
    [tooltipText]="'Patternfly Accessibility Guidelines URL'"
    [width]="'200px'"
    [value]="'https://pf-next.com/accessibility-guide'"></pfng-block-copy>
</div>
